{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/profiles/profile-index.css' %}" />
{% endblock %}


{% block content %}

<section class="component-container">
    <section class="profile-card me">
        <div class ="profile-preview">
            {% if me %}
            <div class = "me-profile-pic">
                {% if me.profile_image %}
                <img src="{{ me.profile_image.url }}" alt="user-profile-image"/>
                {% else %}
                <img src="{% static 'images/default_profile_icon.png' %}" alt="default-profile-image"/>
                {% endif %}
            </div>
            <div class = "profile-bio">
                <h2> {{ me.full_name }}</h2>
                <h3> {{ me.headline }}</h3>
                <p> {{ me.location }}</p>
            </div>
        </div>
            <div class = "buttons">
                <a href = "{% url 'profile-detail' me.id %}"><button>View My Profile</button></a>
            </div>
            {% else %}
            <div>
                <p>You don't have a profile yet!<p>
                <a href = "{% url 'profile-create' %}"><button>Create Profile</button></a>
            </div>
            {% endif %}
    </section>

    <hr>
    <section class="profiles-container">
        {% for profile in profiles %}
            <div class ='profile-card'>
                <div class = "profile-preview">
                    <div class = "profile-pic">
                        {% if profile.profile_image %}
                        <img src="{{ profile.profile_image.url }}" alt="user-profile-image"/>
                        {% else %}
                        <img src="{% static 'images/default_profile_icon.png' %}" alt="default-profile-image"/>
                        {% endif %}
                    </div>
                    <div class = "profile-bio">
                        <h3>{{profile.full_name}}</h3>
                        <h4>{{profile.headline}}</h4>
                        <p>{{profile.location}}</p>
                    </div>
                </div>
                <div class = "buttons">
                    <a href = "{% url 'profile-detail' profile.id %}"><button>View Profile</button></a>
                </div>
            </div>
        
        {% endfor %}
    </section>
</section>


{% endblock %}
