* {
    border: 1px dotted grey;
}

.profile-container {
    margin: 0 auto;
    padding: 50px;
    width: 80vw; /* 4/5 of the viewport width */
    max-width: 1600px; /* Maximum width of 1600px */
    min-width: 500px;
}

.section-container {
    padding: 30px;
    border: 1px solid rgb(194, 194, 194);
    background-color: white;
    margin: 20px 0 20px 0;
    border-radius: 10px;
   
}

.profile {
    display: flex;
    align-items: flex-start; /* Center items vertically */
    justify-content: space-between;
    gap: 15px;
}

.profile img {
    background-color: grey;
    border-radius: 50%;
    min-height: 75px;
    min-width: 75px;
    height: 100%; /* Make the image fill the remaining height */
    width: auto; /* Maintain the aspect ratio */
}   

.profile-pic-and-bio {
    display:flex;
    align-items: center;   
    gap: 20px;
}

.card {
    padding: 20px;
    border: 1px dotted rgb(194, 194, 194);
}


.bio{
    display:flex;
    /* align-items: space-evenly; */
    justify-content: space-evenly;
    flex-direction: column;
    flex-grow: 1;
}

.buttons {
    display: flex;
    height: 100%;    
    button {
        font-size: 1.1em;
        background: none;
        color: darkgray;
    }
}
button:hover {
    color: gray; /* Change text color on hover */
}

button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 5px rgba(39, 127, 106, 0.5); /* Add a custom focus shadow if needed */
}

