{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/companies/company-detail.css' %}" />
{% endblock %}


{% block content %}
    <section class="company-container">
        <section class="section-container">
            <div class ="company-profile">
                <div class ="company-pic-and-bio">
                    <div class = "company-pic">
                        {% if company.company_image %}
                        <img src="{{ company.company_image.url }}" alt="company-profile-image"/>
                        {% else %}
                        <img src="{% static 'images/default_company_icon.png' %}" alt="default-company-image"/>
                        {% endif %}
                    </div>
                    <div class = "company-bio">
                        <h1>{{company.name}}</h1>
                        <p> {{ company.location }} </p>
                        <p> {{ company.employee_count }} </p>
                        <p> {{ company.employee_industry }} </p>
                    </div>
                    {% if request.user in company.page_owners.all %}
                    <div class="buttons">
                        <a href="{% url 'company-update' company.id %}"><button>•••</button></a>
                        <a href="{% url 'company-delete' company.id %}"><button>&times</button></a>
                        <a href="{% url 'company-add-owner' company.id %}"><button>Add Admins</button></a>
                    </div>
                    {% endif %}
                </div>
                
            </div>
            <div class ="company-about">
                <p> {{ company.about }}</p>
            </div>
        </section>
    </section>
{% endblock %}
