@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing:  border-box;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

h1 {
    font-size: 1.5em;
}

hr {
    margin: 20px 0 20px 0;
    border: none;
    height: 0.75px; 
    background-color: #d1d1d1; 
}

body, h1, h2, h3, h4, h5, p, input, textarea {
    font-family: 'Source Sans 3', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(230, 236, 231);
}

.nav-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0;
    padding: 0 5%;
    a {
        text-decoration: none; 
        color: inherit;
    }
    
    a:hover {
        text-decoration: none; 
        color: inherit;
        opacity: 50%;
    }
}



nav ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    gap: 15px;
    font-size: 1.1em;
}

button {
    background-color: rgb(39, 127, 106);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    letter-spacing: 0.05em;
}



button:hover {
    background-color: rgb(29, 97, 81);
    transform: scale(1.01);
    cursor: pointer; 
}


button:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(39, 127, 106, 0.5); 
}


button:active {
    background-color: rgb(20, 80, 65);
    transform: scale(0.98); 
}

.header-logo-container {
    width:60px;
    height:60px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 75%;
        height: 75%;
        object-fit: cover; 
    }   
}