

* {
    box-sizing:  border-box;
}

.component-container * {
    box-sizing: border-box;
}

.component-container {
    margin: 0 auto;
    padding: 50px;
    width: 80vw; 
    max-width: 1600px; 
    min-width: 500px;
}

.section-container {
    padding: 30px;
    border: 1px solid rgb(194, 194, 194);
    background-color: white;
    margin: 20px 0 20px 0;
    border-radius: 10px;
}

.page-header{
    margin-bottom: 20px;
}

table {
    border-bottom: 1px solid rgb(194, 194, 194);
    margin: 20px 0 20px 0;
    padding: 0 0 20px 0;
}

