
.component-container *{
    
    box-sizing: border-box;
}

.component-container {
    margin: 0 auto;
    padding: 50px;
}

.profiles-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1%;

}

.card {
    padding: 20px;
    border: 1px dotted rgb(194, 194, 194);
}

